<%# Unit 4, Select Inv Item activity %>
<% if (title) {%>
<h1><%= title %></h1>
<%} else {res.redirect('/')} %>

<!-- Flash messages -->
<%- messages() %>

<% if (errors && errors.array) { %>
<ul class="message warning">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>

<section class="inv-management">
    <div class="actions">
        <p><a href="/inv/add-classification">Add New Classification</a></p>
        <p><a href="/inv/add-inventory">Add New Inventory (Vehicle)</a></p>
    </div>

    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items</p>
    <%- classificationSelect %>

    <!-- Table that JS will fill -->
    <div class="table-wrap">
        <table id="inventoryDisplay" class="inventory-table"></table>
    </div>

    <noscript>JavaScript must be enabled to use this page.</noscript>
</section>

<script src="../../js/inventory.js"></script>
